<div class="card" [nbSpinner]="loading">
  <div class="card-body">
    <div class="card-title">Create new order</div>
    <form (ngSubmit)="f.form.valid && create()" #f="ngForm">
      <div class="row">
        <div class="col">
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !fiatAmount.valid }">
            <label for="fiatAmount" class="form-label">Fiat Amount <span class="text-red">*</span></label>
            <input type="number" class="form-control" id="fiatAmount" name="fiatAmount" [(ngModel)]="order.fiatAmount"
                   (ngModelChange)="countFiat($event)"
                   #fiatAmount="ngModel" required/>
            <div *ngIf="f.submitted && !fiatAmount.valid" class="help-block text-red">Amount is required</div>
          </div>
        </div>

        <div class="col">
          <div class="form-group" >
            <label for="spotAmount" class="form-label">Spot Amount</label>
            <input type="text" class="form-control" id="spotAmount" name="spotAmount" [(ngModel)]="order.spotAmount"
                   placeholder="0" disabled/>
          </div>
        </div>
      </div>

      <h6 class="mb-2" *ngIf="!customerSelectedOption">Select customer or create new or fill first and last name only</h6>
      <h6 class="mb-2" *ngIf="customerSelectedOption">Select customer's credit card or add new or enter card information during payment</h6>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-select [formControl]="customerCtrl" placeholder="Customer">
              <mat-option>
                <ngx-mat-select-search [formControl]="customerFilteringCtrl"
                                       [placeholderLabel]="'Find Customer...'"
                                       [noEntriesFoundLabel]="'no matching customer found'"
                                       [searching]="searching"></ngx-mat-select-search>
              </mat-option>
              <mat-option [value]="">
                -- None --
              </mat-option>
              <mat-option *ngFor="let customer of filteredCustomer | async" [value]="customer">
                {{customer.firstName}} {{customer.lastName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col" *ngIf="customerSelectedOption">
          <mat-form-field>
            <mat-select [formControl]="creditCardCtrl" placeholder="Cards">
              <mat-option [value]="null">
                -- None --
              </mat-option>
              <mat-option *ngFor="let card of selectedCustomer.creditCards" [value]="card">
                {{card.cardNumber}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col" *ngIf="!customerSelectedOption">
          <div class="form-group ">
            <button type="button" class="btn btn-primary" (click)="openDialog(customerDialog)">Add Customer <i class="fas fa-plus ml-2"></i></button>
          </div>
        </div>
        <div class="col" *ngIf="customerSelectedOption && creditCardSelectedOption">
          <div class="form-group ">
            <button type="button" class="btn btn-primary" (click)="openDialog(cardDialog)">Add Card <i class="fas fa-plus ml-2"></i></button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col" *ngIf="!customerSelectedOption">
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
            <label for="firstName3" class="form-label">First Name <span class="text-red">*</span></label>
            <input type="text" class="form-control" id="firstName3" name="firstName" [(ngModel)]="order.firstName"
                   #firstName="ngModel" placeholder="Enter first name" required/>
            <div *ngIf="f.submitted && !firstName.valid" class="help-block text-red">First name is required</div>
          </div>
        </div>

        <div class="col" *ngIf="!customerSelectedOption">
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
            <label for="lastName3" class="form-label">Last Name <span class="text-red">*</span></label>
            <input type="text" class="form-control" id="lastName3" name="lastName" [(ngModel)]="order.lastName"
                   #lastName="ngModel" placeholder="Enter last name" required/>
            <div *ngIf="f.submitted && !lastName.valid" class="help-block text-red">Last name is required</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="description" class="form-label">Description</label>
            <textarea rows="4" cols="10" type="text" class="form-control" id="description" name="description"
                      [(ngModel)]="order.description" placeholder="Description"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-primary" [disabled]="loading || !f.form.valid"  (click)="create()">Make Order</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div id="print" class="" hidden>
  <div class="bg-white m-2 p-3">
    <div class="row">
      <div class="col-md-6">
        <h3 class="mb-3">{{invoice.merchantName}}</h3>
        <p>Address: {{invoice.merchantAddress}}</p>
        <p>Country, City, ZIP: {{invoice.merchantCountry}}, {{invoice.merchantTown}}, {{invoice.merchantZip}}</p>
        <p>Phone: {{invoice.merchantPhone}}</p>
      </div>
      <div class="col-md-6">
        <h1 class="text-right">INVOICE</h1>
      </div>
    </div>
    <div class="row mt-3 mb-5">
      <div class="col-md-6">
        <table class="table">
          <thead class="thead-light">
          <tr>
            <th class="font-weight-bold">BILL TO</th>
            <th>_</th>
          </tr>
          </thead>
          <tbody class="table-borderless">
          <tr>
            <td class="pb-0">Full Name</td>
            <td class="pb-0">{{invoice.customerFirstName}} {{invoice.customerLastName}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <table class="table">
          <thead class="thead-light">
          <tr>
            <th class="font-weight-bold">INVOICE #</th>
            <th class="font-weight-bold">CUSTOMER ID</th>
            <th class="font-weight-bold">DATE</th>
          </tr>
          </thead>
          <tbody class="table-borderless">
          <tr>
            <td>{{invoice.invoiceId}}</td>
            <td>{{invoice.customerId}}</td>
            <td>{{invoice.orderCreateDate | date}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <table class="table">
          <thead class="thead-light">
          <tr>
            <th class="font-weight-bold">DESCRIPTION</th>
            <th class="font-weight-bold text-right">SPOT RATE</th>
            <th class="font-weight-bold text-right">SPOT AMOUNT</th>
            <th class="font-weight-bold text-right">FIAT AMOUNT</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="border-bottom border-right">{{invoice.orderDescription}}</td>
            <td class="text-right border-bottom border-right">{{invoice.currencyRate}}</td>
            <td class="text-right border-bottom border-right">{{invoice.spotAmount | number}}</td>
            <td class="text-right border-bottom">{{invoice.fiatAmount | number}}{{invoice.currency}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!--payment modal-->
<ng-template #dialog let-data let-ref="dialogRef">
  <div class="container-fluid py-3 card" [nbSpinner]="modalLoading">
    <div class="row">
      <div class="col-12">
        <div id="pay-invoice" class="">
          <div class="card-body">
            <button type="button" class="close" aria-label="Close"  (click)="ref.close()">
            </button>
            <div class="card-title">
              <h3 class="text-center">Credit Card Payment</h3>
            </div>
            <hr>
            <form (ngSubmit)="pf.form.valid && initPay()" #pf="ngForm" novalidate>
              <div class="form-group text-center">
                <ul class="list-inline">
                  <li class="list-inline-item"><i class="fab fa-cc-visa fa-2x"></i></li>
                  <li class="list-inline-item"><i class="fab fa-cc-mastercard fa-2x"></i></li>
                  <li class="list-inline-item"><i class="fab fa-cc-amex fa-2x"></i></li>
                </ul>
              </div>

              <div class="form-group">
                <label for="gateway" class="control-label mb-1">Payment Gateway</label>
                <div class="input-group">
                  <select required class="form-control" name="shopId" [(ngModel)]="paymentModel.paymentGatewayId" id="gateway">
                    <option *ngFor="let gateway of paymentGateways;" [value]="gateway.id">{{ gateway.name }}</option>
                  </select>
                </div>
              </div>

              <div class="form-group" [ngClass]="{ 'has-error': pf.submitted && !cardFullName.valid }">
                <label for="cc-number" class="control-label mb-1">Full Name (on the card) <span class="text-red">*</span></label>
                <div class="input-group">
                  <input id="cc-name" name="cardFullName" [(ngModel)]="paymentModel.creditCard.nameOnCard" #cardFullName="ngModel" type="text" class="form-control identified" required>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fa fa-user"></span>
                    </div>
                  </div>
                </div>
                <span *ngIf="pf.submitted && !cardFullName.valid" class="help-block text-red">Card full name required</span>
              </div>

              <div class="form-group" [ngClass]="{ 'has-error': pf.submitted && !cardNumber.valid }">
                <label for="cc-number" class="control-label mb-1">Card number <span class="text-red">*</span></label>
                <div class="input-group">
                  <input id="cc-number" name="cardNumber" [(ngModel)]="paymentModel.creditCard.cardNumber" #cardNumber="ngModel" type="tel" class="form-control identified" required>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fa fa-credit-card"></span>
                    </div>
                  </div>
                </div>
                <span *ngIf="pf.submitted && !cardNumber.valid" class="help-block text-red">Enter a valid 16 digit card number</span>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group" [ngClass]="{ 'has-error': pf.submitted && !securityCode.valid }">
                    <label for="cc-exp" class="control-label mb-1">Expiration <span class="text-red">*</span></label>
                    <input id="cc-exp" [nbDatepicker]="datepicker" name="cardExpiration" [(ngModel)]="paymentModel.creditCard.expirationDate" #expirationDate="ngModel" type="tel" class="form-control cc-exp" required placeholder="MM / YY" autocomplete="cc-exp">
                    <nb-datepicker #datepicker format="MM/YY"></nb-datepicker>
                    <span *ngIf="pf.submitted && !expirationDate.valid" class="help-block text-red">Enter the expiration date</span>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group" [ngClass]="{ 'has-error': pf.submitted && !securityCode.valid }">
                    <label for="x_card_code" class="control-label mb-1">Security code <span class="text-red">*</span></label>
                    <div class="input-group">
                      <input id="x_card_code" name="cardSecurityCode" [(ngModel)]="paymentModel.creditCard.cvc" #securityCode="ngModel" type="tel" class="form-control cc-cvc" required autocomplete="off">
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <ng-template #popContent><div><b>Security Code</b></div><div class='text-center one-card'>The 3 digit code on back of the card..<div class='visa-mc-cvc-preview'></div></div></ng-template>
                          <span class="fa fa-question-circle fa-lg" data-toggle="popover" data-container="body" data-html="true" data-title="Security Code"
                                [nbPopover]="popContent" nbPopoverTrigger="hover"></span>
                        </div>
                      </div>
                    </div>
                    <span *ngIf="pf.submitted && !securityCode.valid" class="help-block text-red">Enter the 3-digit code on back</span>
                  </div>
                </div>
              </div>
              <div>
                <button [disabled]="modalLoading || !pf.form.valid" (click)="initPay()" class="btn btn-info mr-3">Pay</button>
                <button type="button" aria-label="Close" class="btn btn-secondary mr-3" (click)="ref.close()">Pay Later</button>
                <button
                  (click)="printInvoice()"
                  type="button"
                  class="btn btn-secondary"
                    >Print Invoice</button>
              </div>
              <button hidden
                      type="button"
                      id="printBtn"
                      printSectionId="print"
                      [useExistingCss]="true"
                      styleSheetFile=""
                      ngxPrint></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- customer crate modal-->
<ng-template #customerDialog let-data let-ref="customerModalRef">
  <div class="card" [nbSpinner]="customerLoading">
    <div class="card-body">
      <div class="card-title">Create new customer</div>
      <form (ngSubmit)="cf.form.valid && create()" #cf="ngForm">
        <div class="row">

          <div class="col">
            <div class="form-group" [ngClass]="{ 'has-error': cf.submitted && !firstName.valid }">
              <label for="firstName" class="form-label">First Name <span class="text-red">*</span></label>
              <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="customer.firstName"
                     #firstName="ngModel" placeholder="Enter first name" required/>
              <div *ngIf="cf.submitted && !firstName.valid" class="help-block text-red">First name is required</div>
            </div>
          </div>

          <div class="col">
            <div class="form-group" [ngClass]="{ 'has-error': cf.submitted && !lastName.valid }">
              <label for="lastName" class="form-label">Last Name <span class="text-red">*</span></label>
              <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="customer.lastName"
                     #lastName="ngModel" placeholder="Enter last name" required/>
              <div *ngIf="cf.submitted && !lastName.valid" class="help-block text-red">Last name is required</div>
            </div>
          </div>

          <div class="col">
            <div class="form-group" [ngClass]="{ 'has-error': cf.submitted && !email.valid }">
              <label for="email" class="form-label">Email <span class="text-red">*</span></label>
              <input type="text" class="form-control" id="email" name="email" [(ngModel)]="customer.email"
                     #email="ngModel" placeholder="Email" required email/>
              <div *ngIf="cf.submitted && !email.valid" class="help-block text-red">Email is required</div>
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <label for="country" class="form-label">Country</label>
              <select required class="form-control" name="country" [(ngModel)]="customer.countryId" id="country">
                <option *ngFor="let country of countries;" [value]="country.id">{{ country.name }}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="town" class="form-label">Town</label>
              <input type="text" class="form-control" id="town" name="town" [(ngModel)]="customer.town" placeholder="Town" />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="address" class="form-label">Address</label>
              <input type="text" class="form-control" id="address" name="address" [(ngModel)]="customer.address" placeholder="Address" />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="zip" class="form-label">Zip </label>
              <input type="text" class="form-control" id="zip" name="zip" [(ngModel)]="customer.zip" placeholder="Zip" />
            </div>
          </div>

          <div class="col">
            <div class="form-group" [ngClass]="{ 'has-error': cf.submitted && !phone.valid }">
              <label for="phone" class="form-label">Phone <span class="text-red">*</span></label>
              <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="customer.phone"
                     #phone="ngModel" placeholder="Phone" required/>
              <div *ngIf="cf.submitted && !phone.valid" class="help-block text-red">Phone is required</div>
            </div>
          </div>
        </div>


        <div class="row">
<!--          <div class="col">-->
<!--            <div class="form-group" >-->
<!--              <label for="gender" class="form-label">Gender</label>-->
<!--              <select required class="form-control" name="currency" [(ngModel)]="customer.gender" id="gender">-->
<!--                <option value="male" selected>Male</option>-->
<!--                <option value="female">Female</option>-->
<!--              </select>-->
<!--            </div>-->
<!--          </div>-->

          <div class="col">
            <div class="form-group" [ngClass]="{ 'has-error': cf.submitted && !identityNumber.valid }">
              <label for="identityNumber" class="form-label">Identity Number <span class="text-red">*</span></label>
              <input type="text" class="form-control" id="identityNumber" name="identityNumber" [(ngModel)]="customer.identityNumber"
                     #identityNumber="ngModel" placeholder="Identity number" required/>
              <div *ngIf="cf.submitted && !identityNumber.valid" class="help-block text-red">Identity number is required</div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col">
            <div class="form-group" [ngClass]="{ 'has-error': cf.submitted && !cardName.valid }">
              <label for="cardName" class="form-label">Card Name <span class="text-red">*</span></label>
              <input type="text" class="form-control" id="cardName" name="cardName" [(ngModel)]="customer.creditCard.nameOnCard"
                     #cardName="ngModel" placeholder="Enter card name" required/>
              <div *ngIf="cf.submitted && !cardName.valid" class="help-block text-red">Card name is required</div>
            </div>
          </div>
          <div class="col">
            <div class="form-group" [ngClass]="{ 'has-error': cf.submitted && !cardNumber.valid }">
              <label for="cardNumber" class="form-label">Card Number <span class="text-red">*</span></label>
              <input type="text" class="form-control" id="cardNumber" name="cardNumber" [(ngModel)]="customer.creditCard.cardNumber"
                     #cardNumber="ngModel" placeholder="Enter card number" required/>
              <div *ngIf="cf.submitted && !cardNumber.valid" class="help-block text-red">Card number is required</div>
            </div>
          </div>
          <div class="col">
            <div class="form-group" [ngClass]="{ 'has-error': cf.submitted && !createdDate.valid }">
              <label for="expirationDate" class="form-label">Expiration date <span class="text-red">*</span></label>
              <input type="text" class="form-control" name="expirationDate" [(ngModel)]="customer.creditCard.expirationDate"
                     placeholder="Expiration date" required
                     autocomplete="off"
                     #createdDate="ngModel"
                     [nbDatepicker]="customerDatepicker"
              />
              <nb-datepicker #customerDatepicker format="MM/YY"></nb-datepicker>
              <div *ngIf="cf.submitted && !createdDate.valid" class="help-block text-red">Expiration date is required</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button class="btn btn-primary" [disabled]="customerLoading || !cf.form.valid"  (click)="createCustomer()">Create</button>
            <button type="button" aria-label="Close" class="btn btn-secondary ml-3" (click)="closeDialog()">Close</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</ng-template>

<ng-template #cardDialog let-data let-ref="cardDialogRef">
  <div class="card" [nbSpinner]="cardLoading">
    <div class="card-body">
      <div class="card-title">Add new card</div>
      <form (ngSubmit)="caf.form.valid && addCard()" #caf="ngForm">

        <div class="row">
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group" [ngClass]="{ 'has-error': caf.submitted && !cardName2.valid }">
              <label for="cardName2" class="form-label">Card Name <span class="text-red">*</span></label>
              <input type="text" class="form-control" id="cardName2" name="cardName2" [(ngModel)]="newCard.nameOnCard"
                     #cardName2="ngModel" placeholder="Enter card name" required/>
              <div *ngIf="caf.submitted && !cardName2.valid" class="help-block text-red">Card name is required</div>
            </div>
          </div>
          <div class="col">
            <div class="form-group" [ngClass]="{ 'has-error': caf.submitted && !cardNumber2.valid }">
              <label for="cardNumber2" class="form-label">Card Number <span class="text-red">*</span></label>
              <input type="text" class="form-control" id="cardNumber2" name="cardNumber2" [(ngModel)]="newCard.cardNumber"
                     #cardNumber2="ngModel" placeholder="Enter card number" required/>
              <div *ngIf="caf.submitted && !cardNumber2.valid" class="help-block text-red">Card number is required</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group" [ngClass]="{ 'has-error': caf.submitted && !createdDate2.valid }">
              <label class="form-label">Expiration date <span class="text-red">*</span></label>
              <input type="text" class="form-control" name="expirationDate2" [(ngModel)]="newCard.expirationDate"
                     placeholder="Expiration date" required
                     autocomplete="off"
                     #createdDate2="ngModel"
                     [nbDatepicker]="cardDatepicker"
              />
              <nb-datepicker #cardDatepicker format="MM/YY"></nb-datepicker>
              <div *ngIf="caf.submitted && !createdDate2.valid" class="help-block text-red">Expiration date is required</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-primary" [disabled]="cardLoading || !caf.form.valid"  (click)="addCard()">Create</button>
            <button type="button" aria-label="Close" class="btn btn-secondary ml-3" (click)="closeDialog()">Close</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</ng-template>
