<div class="row">
  <div class="col-lg-4">
    <div class="card" [nbSpinner]="logoLoading">
      <div class="card-body">
        <div class="card-title">Upload Logo</div>
        <form (ngSubmit)="f.form.valid && uploadLogo()" #f="ngForm">
          <div class="row">

            <div class="col-md-12" *ngIf="logoUrl">
              <div>
                <img [src]="logoUrl" alt="logo" class="img-fluid" style="max-width: 6rem">
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label for="logo" class="form-label">Logo <span class="text-red">*</span></label>
                <input type="file" accept="image/png, image/jpeg" class="form-control-file" id="logo" name="logo" #logoInput required/>
<!--                <div *ngIf="f.submitted" class="help-block text-red">Logo is required</div>-->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button class="btn btn-primary" [disabled]="logoLoading || !f.form.valid">Upload
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

