<button *ngIf="this.rowData.orderStatusName === 'unpaid'"
        (click)="open(dialog)"
        class="btn btn-primary btn-sm mr-2">Pay
</button>

<ng-template #dialog let-data let-ref="dialogRef">
  <div class="container-fluid py-3 card" [nbSpinner]="modalLoading">
    <div class="row">
      <div class="col-12">
        <div id="pay-invoice" class="">
          <div class="card-body">
            <button type="button" class="close" aria-label="Close"  (click)="ref.close()">
            </button>
            <div class="card-title">
              <h3 class="text-center">Credit Card Payment</h3>
            </div>
            <hr>
            <form (ngSubmit)="pf.form.valid && initPay()" #pf="ngForm" novalidate>
              <div class="form-group text-center">
                <ul class="list-inline">
                  <li class="list-inline-item"><i class="fab fa-cc-visa fa-2x"></i></li>
                  <li class="list-inline-item"><i class="fab fa-cc-mastercard fa-2x"></i></li>
                  <li class="list-inline-item"><i class="fab fa-cc-amex fa-2x"></i></li>
                </ul>
              </div>

              <div class="form-group">
                <label for="gateway" class="control-label mb-1">Payment Gateway</label>
                <div class="input-group">
                  <select required class="form-control" name="shopId" [(ngModel)]="paymentModel.paymentGatewayId" id="gateway">
                    <option *ngFor="let gateway of paymentGateways;" [value]="gateway.id">{{ gateway.name }}</option>
                  </select>
                </div>
              </div>

              <div class="form-group" [ngClass]="{ 'has-error': pf.submitted && !cardFullName.valid }">
                <label for="cc-number" class="control-label mb-1">Full Name (on the card) <span class="text-red">*</span></label>
                <div class="input-group">
                  <input id="cc-name" name="cardFullName" [(ngModel)]="paymentModel.creditCard.nameOnCard" #cardFullName="ngModel" type="text" class="form-control identified" required="">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fa fa-user"></span>
                    </div>
                  </div>
                </div>
                <span *ngIf="pf.submitted && !cardFullName.valid" class="help-block text-red">Card full name required</span>
              </div>

              <div class="form-group" [ngClass]="{ 'has-error': pf.submitted && !cardNumber.valid }">
                <label for="cc-number" class="control-label mb-1">Card number <span class="text-red">*</span></label>
                <div class="input-group">
                  <input id="cc-number" name="cardNumber" [(ngModel)]="paymentModel.creditCard.cardNumber" #cardNumber="ngModel" type="tel" class="form-control identified" required="">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fa fa-credit-card"></span>
                    </div>
                  </div>
                </div>
                <span *ngIf="pf.submitted && !cardNumber.valid" class="help-block text-red">Enter a valid 16 digit card number</span>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group" [ngClass]="{ 'has-error': pf.submitted && !securityCode.valid }">
                    <label for="cc-exp" class="control-label mb-1">Expiration <span class="text-red">*</span></label>
                    <input id="cc-exp" [nbDatepicker]="datepicker" name="cardExpiration" [(ngModel)]="paymentModel.creditCard.expirationDate" #expirationDate="ngModel" type="tel" class="form-control cc-exp" required placeholder="MM / YY" autocomplete="cc-exp">
                    <nb-datepicker #datepicker format="MM/YY"></nb-datepicker>
                    <span *ngIf="pf.submitted && !expirationDate.valid" class="help-block text-red">Enter the expiration date</span>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group" [ngClass]="{ 'has-error': pf.submitted && !securityCode.valid }">
                    <label for="x_card_code" class="control-label mb-1">Security code <span class="text-red">*</span></label>
                    <div class="input-group">
                      <input id="x_card_code" name="cardSecurityCode" [(ngModel)]="paymentModel.creditCard.cvc" #securityCode="ngModel" type="tel" class="form-control cc-cvc" required autocomplete="off">
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <ng-template #popContent><div><b>Security Code</b></div><div class='text-center one-card'>The 3 digit code on back of the card..<div class='visa-mc-cvc-preview'></div></div></ng-template>
                          <span class="fa fa-question-circle fa-lg" data-toggle="popover" data-container="body" data-html="true" data-title="Security Code"
                                [nbPopover]="popContent" nbPopoverTrigger="hover"></span>
                        </div>
                      </div>
                    </div>
                    <span *ngIf="pf.submitted && !securityCode.valid" class="help-block text-red">Enter the 3-digit code on back</span>
                  </div>
                </div>
              </div>
              <div>
                <button [disabled]="modalLoading || !pf.form.valid" (click)="initPay()" class="btn btn-lg btn-info mr-3">Pay</button>
                <button type="button" aria-label="Close" class="btn btn-lg btn-secondary" (click)="ref.close()">Pay Later</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
